<ion-content class="ion-padding">
  <div class="page-title">Monitoreo en tiempo real</div>
  <ion-card>
    <ion-card-header>
       Datos en Vivo
    </ion-card-header>
    <ion-card-content>
      <p>Temperatura: <strong>{{ temperatura ?? 'Cargando...' }} °C</strong></p>
      <p>Humedad Ambiental: <strong>{{ humedadSuelo ?? 'Cargando...' }}%</strong></p>
      <p>Humedad del Suelo: <strong>{{ phSuelo ?? 'Cargando...' }}%</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>
