<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Monitoreo en Tiempo Real</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      Sensores
    </ion-card-header>
    <ion-card-content>
      <p>Temperatura: <strong>{{ temperature }} °C</strong></p>
      <p>Humedad del Suelo: <strong>{{ soilHumidity }}%</strong></p>
      <p>pH del Suelo: <strong>{{ pH }}</strong></p>
      <p>Humedad Ambiental: <strong>{{ ambientHumidity }}%</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>