<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Monitoring in real time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      Sensors
    </ion-card-header>
    <ion-card-content>
      <p>Temperature Sensor: <strong>{{ temperature }} °C</strong></p>
      <p>Moisture Sensor: <strong>{{ soilHumidity }}%</strong></p>
      <p>pH Sensor: <strong>{{ pH }}</strong></p>
      <p>Humidity Sensor: <strong>{{ ambientHumidity }}%</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>