<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monitoring">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Monitoring</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prediction">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Prediction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuration">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>