<ion-content class="login-background" fullscreen scroll-y="true">
  


  <div class="overlay">
    <div class="logo-container">
      <h1>GreenUp</h1>
      <p class="subtitle">Bienvenido de nuevo, ¡protejamos el campo!</p>
    </div>

    <video class="video-background" autoplay muted loop playsinline>
      <source src="../../../assets/Videos/video2.mp4" type="video/mp4" />
    </video>

    <ion-card class="form-card">
      <ion-card-content>
        <ion-input
          #correoInput
          [(ngModel)]="correoLogin"
          label="Correo"
          type="email"
          fill="outline"
          class="input"
          id="correo-login">
        </ion-input>


        <ion-input
          [(ngModel)]="password"
          label="Contraseña"
          type="password"
          fill="outline"
          class="input"
          id="password-login">
        </ion-input>

        <ion-button expand="block" class="login-button" (click)="onSubmit()">
          Iniciar sesión
        </ion-button>

        <p class="register-link">
          ¿No tienes cuenta?
          <a [routerLink]="['/register']">Regístrate</a>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>