<ion-content class="register-background" fullscreen>
  <video class="video-background" autoplay muted loop playsinline>
    <source src="../../../assets/Videos/video1.mp4" type="video/mp4" />
  </video>

  <div class="overlay">

      <div class="logo-container">
        <h1><strong>GreenUp</strong></h1>
        <p class="subtitle">Bienvenido de nuevo, ¡protejamos el campo!</p>
      </div>

    <ion-card class="form-card">
      

      <ion-card-content>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit">Registrarse</ion-button>
          <ion-button fill="clear" routerLink="/login">Ya tengo cuenta</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
