<ion-content class="ion-padding">
  <div class="scanner-overlay"></div>
  
  <div class="page-title">Escanea tu planta</div>
  <div *ngIf="isLoading" class="scanner-overlay animated-pulse"></div>
  
  <ion-button expand="block" (click)="takePhoto()" class="action-button">
    Tomar Foto
  </ion-button>

<ion-card *ngIf="photoBase64">
  <div class="scanner-container">
    <img [src]="'data:image/jpeg;base64,' + photoBase64" class="photo-preview" />
    <div *ngIf="isLoading" class="scanner-line"></div>
  </div>

  <ion-card-content *ngIf="diagnosis || risk || recomendations">
    <p><strong>Diagnóstico:</strong> {{ diagnosis }}</p>
    <p><strong>Riesgo:</strong> {{ risk }}</p>
    <p><strong>Recomendación:</strong> {{ recomendations }}</p>
  </ion-card-content>

</ion-card>


</ion-content>