<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <ion-icon name="leaf-outline" slot="start" ></ion-icon>
      GreenUp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="landing-content ion-padding">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h2 class="title">
          Hola <strong>{{ nombre }}</strong>, bienvenido a <strong>GreenUp</strong>
        </h2>
        <p class="subtitle">
          Monitorea tus cultivos usando <strong>IA </strong> y sensores <strong>IoT</strong> de forma inteligente.
        </p>
      </ion-col>
    </ion-row>

     <ion-row class="ion-margin-top">
      <ion-col size="12" size-md="6" *ngFor="let item of buttons">
        <ion-button expand="block" class="action-button" [routerLink]="item.link">
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          {{ item.label }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>